<div {{action 'closeHelp'}} class="overlay"></div>

<div class="search instructions">
  <div class="arrow">&#10548;</div>
  <p>Enter a search query to filter your results.</p>
</div>

<div class="scroll-down instructions">
  <div class="arrow">&darr;</div>
  <p>Scroll down to load more rows.</p>
</div>

<div class="data-key instructions">
  <p>Slow or difficult response values are <strong>bolded</strong>. High risk
  requests are <span class="highlight-example">highlighted</span></p>
</div>
